{% extends "fefu_lab/base.html" %}

{% block title %}О нас{% endblock %}
{% block heading %}О нашей лаборатории{% endblock %}

{% block content %}
<div class="success-message">
    <h3>Информация о проекте</h3>
    <p>Это учебный проект по веб-технологиям в ДВФУ.</p>
    <p>Мы изучаем Django фреймворк и создаем современные веб-приложения.</p>
    
    <h4 style="margin-top: 20px;">Наши цели:</h4>
    <ul>
        <li>Освоить основы Django</li>
        <li>Изучить маршрутизацию URL</li>
        <li>Понять работу представлений</li>
        <li>Научиться работать с шаблонами и формами</li>
        <li>Реализовать валидацию данных и CSRF-защиту</li>
    </ul>
</div>
{% endblock %}