{% extends fefu_labbase.html %}

{% block title %}Контакты{% endblock %}
{% block heading %}Контакты{% endblock %}

{% block content %}
div class=student-info
    h3Свяжитесь с намиh3
    
    div style=margin-bottom 20px;
        h4Адресh4
        pДальневосточный федеральный университетp
        pо. Русский, кампус ДВФУp
    div
    
    div style=margin-bottom 20px;
        h4Телефонh4
        p+7 (123) 456-78-90p
    div
    
    div style=margin-bottom 20px;
        h4Emailh4
        pfefu-lab@dvfu.rup
    div
    
    div style=margin-bottom 20px;
        h4Время работыh4
        pПн-Пт 900 - 1800p
        pСб-Вс выходнойp
    div
div

div style=margin-top 20px; text-align center;
    a href=feedback class=form-control style=text-align center; background #3498db; color white; text-decoration none; display inline-block; width auto; padding 10px 20px;
        Написать нам
    a
div
{% endblock %}